<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Logs</title>
    <link th:href="@{css/mystylesheet.css}" rel="stylesheet" />
</head>
<body>

<h1 th:text="${Welcoming}">Welcome User Name</h1>
<h3 th:text="${game}">Assassin's Creed: Valhalla</h3>

<table th:class="center">
    <thead>
    <tr>
        <th>Games</th>
        <th>Genre</th>
        <th>Time Played</th>
        <th>Last Gaming Session</th>
    </tr>
    </thead>

    <tbody>
        <tr th:if="${games.empty}">
            <td colspan = "2">No Games Available</td>
        </tr>

        <tr th:each="game : ${games}">
            <td><a th:href="@{/game(game=${game.getName()}, id=${id})}"><span th:text="${game.getName()}" th:class="button2"></span></a></td>
            <td><span th:text="${game.getGenre()}"></span></td>
            <td><span th:text="${game.displayTime()}"></span></td>
            <td><span th:text="${game.getMostRecentSessionDate()}"></span></td>
            <td><a th:href="@{/addSession(game=${game.getName()}, id=${id})}" th:class="button2">Add Session +</a></td>
        </tr>
    </tbody>

</table>

<a th:href="@{/addGame(id=${id})}" th:class="button1">Add New Game +</a>

</body>
</html>