<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/PlatformerScript.js}"></script>
    <link th:href="@{css/mystylesheet.css}" rel="stylesheet" />
</head>
<body>

    <h1 th:text="'You are currently playing ' + ${currentSession.getGameName()}"></h1>
    <h3 th:text="'Date: ' + ${currentSession.getCurrentDate()}"></h3>

    <p th:text="'Your goals for this session are: ' + ${currentSession.getGoals()}"></p>

    <form action="/session" th:action="@{/PlatformerSession(id=${id}, game=${currentSession.getGameName()})}" th:object="${currentSession}" method="post">

        <input type="hidden" th:field="*{currentDate}" th:value="${currentSession.getCurrentDate()}">
        <input type="hidden" th:field="*{gameName}" th:value="${currentSession.getGameName()}">
        <input type="hidden" th:field="*{genre}" th:value="${currentSession.getGenre()}">
        <input type="hidden" th:field="*{goals}" th:value="${currentSession.getGoals()}">

        <table id="levelsInput" th:class="stats">

        </table>

        <input type="button" onclick="addLevel()" value="Add Level" th:class="button2">

        <br>
        <br>

        <label>Please give your thoughts on this Game Session</label>
        <br>
        <textarea th:field="*{reflection}" rows="5" cols="50">

    </textarea>

        <br>
        <br>
        <input type="submit" value="Finish Session" th:class="button2">

    </form>

</body>
</html>