<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/PlatformerScript.js}"></script>
    <link th:href="@{css/mystylesheet.css}" rel="stylesheet" />
</head>
<body>

    <h1 th:text="'You are currently playing ' + ${currentSession.getGameName()}"></h1>
    <h3 th:text="'Date: ' + ${currentSession.getCurrentDate()}"></h3>

    <p th:text="'Your goals for this session are: ' + ${currentSession.getGoals()}"></p>

    <form action="/session" id="PlatformerForm" th:action="@{/PlatformerSession(id=${id}, game=${currentSession.getGameName()})}" th:object="${currentSession}" method="post">

        <input type="hidden" th:field="*{currentDate}" th:value="${currentSession.getCurrentDate()}">
        <input type="hidden" th:field="*{gameName}" th:value="${currentSession.getGameName()}">
        <input type="hidden" th:field="*{genre}" th:value="${currentSession.getGenre()}">
        <input type="hidden" th:field="*{goals}" th:value="${currentSession.getGoals()}">

        <table id="levelsInput" th:class="stats">

        </table>

        <input type="button" onclick="addLevel()" value="Add Level" th:class="button2">

        <br>
        <br>

        <label>Please give your thoughts on this Game Session</label>
        <br>
        <textarea th:field="*{reflection}" rows="5" cols="50">

    </textarea>

        <br>

        <br>
        <input type="submit" onclick="sendTime()" value="Finish Session" th:class="button2">


    </form>
    <p id="timer"></p>
    <label id="time">Time Played</label>: <label id="hours">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>
    <!--    Countup timer-->
    <script>
        var hoursLabel = document.getElementById("hours");
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        setInterval(setTime, 1000);
        var timedOut = false;
        function pad(num) {
            var numString = num + "";
            if (numString.length <= 1) {
                return "0" + numString;
            } else {
                return numString;
            }
        }
        function sendTime() {
            timedOut = !timedOut;
            var stringTime = totalSeconds.toString();
            var form = document.getElementById("PlatformerForm");
            var recordTime = document.createElement("div");
            recordTime.innerHTML = "<input type='hidden' id='sessionTime' name='sessionTime' value="+stringTime +">";
            form.insertBefore(recordTime, form.firstChild);
        }

        function setTime() {
            if(!timedOut){
                totalSeconds++;
            }
            secondsLabel.innerHTML = pad(totalSeconds % 60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60 % 60));
            hoursLabel.innerHTML = pad(parseInt(totalSeconds/ 3600));
        }
    </script>
</body>
</html>
